
h1 {text-align: center;}
p {text-align: center;}
p{
    font-size: 300%;
}

body {
  background: rgb(136, 117, 141);
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgb(0, 0, 0);
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: rgb(0, 0, 0);
}

a:visited {
	color: rgb(0, 0, 0);
}


input {
	display: block;
}

img {
	max-width: 250px;
}

.themes {
	background-color: #d2bbdf; 
	border-radius: 1px;
	width: 130px;
	display: flex;
	border: 0px solid hwb(264 72% 7%);
  }

  body {
  background: rgb(239, 235, 240);
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgb(0, 0, 0);
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: rgb(0, 0, 0);
}

a:visited {
	color: rgb(0, 0, 0);
}


input {
	display: block;
}

img {
	max-width: 250px;
}

.themes {
	background-color: #d2bbdf; 
	border-radius: 1px;
	width: 130px;
	display: flex;
	border: 1px solid hwb(264 72% 7%);
  }

  .buttons{
    box-sizing: content-box;
  }