body{
	background-color: #fff;
	margin: 0;
	padding:0;

}

.content{
	text-align: center;
	padding-top: 200px;
	padding-bottom: 300px;
	font-size: larger;
	font-family:Georgia, 'Times New Roman', Times, serif;
}


  
  .form{
	display: flex;
	
	text-align: center;
	font-display:initial;}

  .form-center{
	display: flex;
	justify-content: center;
  }
  .login_form {
	width: 320px;
	height: 520px;
	background-color: rgba(1, 1, 1, 0.4);
	border: 1px solid black;
	box-shadow: 0 0 5px 2px #111;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	color: #fff;
	border-top: 1px solid white;}
  h2{
	text-align: center;

  }


.login_form label,
.login_form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

  label{
	text-align: center;
  }

  
	
  