
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0;
    }
    body {
        background: rgb(239, 235, 240);
        margin: 1rem;
        padding: 1rem;
        max-width: 500px;
        margin: 2rem auto;
        font-family: "Open Sans", sans-serif;
      }
      
      nav {
          border-bottom: 2px solid rgb(0, 0, 0);
      }
      
      ol {
          padding-left: 0;
      }
      
      .crumb {
          margin-right: 2em;
          display: inline;
      }
      
      a {
          color: rgb(0, 0, 0);
          font-size: larger;
      }
      
      a:visited {
          color: rgb(0, 0, 0);
      }
      
      
      input {
          display: block;
      }
      
      img {
          max-width: 250px;
      }
      
      .themes {
          background-color: #d2bbdf; 
          border-radius: 1px;
          width: 130px;
          display: flex;
          border: 1px solid hwb(264 72% 7%);
        }